<script>
</script>

<style>
  main {
    position: relative;
    max-width: 48rem;
    padding: 2rem 1.5rem;
    margin: 0 auto;
    box-sizing: border-box;
  }
</style>

<main>
  <slot></slot>
</main>
