<script context="module">
  export function preload({ path, params, query }) {
    return this.fetch(`index.json`).then(r => r.json()).then(changelogEntries => {
      return { path, changelogEntries };
    });
  }
</script>

<script>
  import Navigation from '../components/Navigation.svelte';

  export let path, changelogEntries;
</script>

<style>
  img {
    height: 1em;
  }

  :global(.changelog ul) {
    margin-left: 1.5em;
  }

  :global(.changelog ul > li > ul) {
    margin-bottom: 0px;
  }

  :global(.changelog .hero-avatar) {
    height: 1em;
  }
</style>

<svelte:head>
  <title>changelog</title>
</svelte:head>

<Navigation
  path={path}/>

<h2>changelog</h2>

<div class="changelog">
  {#each changelogEntries as changelogEntry}
    <b>{changelogEntry.title}</b>
    <ul>
      {@html changelogEntry.content}
    </ul>
  {/each}
</div>
