<script context="module">
  export function preload({ path }) {
    return { path };
  }
</script>

<script>
  import Navigation from '../components/Navigation.svelte';

  export let path;
</script>

<style>
</style>

<svelte:head>
  <title>contacts</title>
</svelte:head>

<Navigation
  path={path}/>

<h2>contacts</h2>

<div>
  <p>if you have any questions, any feedback or if you wanted any help, feel free to concat me in any preferred way:</p>
  <ul>
    <li>email: <a href="mailto:seroperson@gmail.com" target="_blank">seroperson@gmail.com</a></li>
    <li>personal webpage: <a href="https://seroperson.me/" target="_blank">seroperson.me</a></li>
    <li>discord: <b>seroperson#1595</b></li>
    <li>uplay: <b>seroperson</b></li>
    <li>steam: id <a href="https://steamcommunity.com/profiles/76561198075432752/" rel="noopener" target="_blank">76561198075432752</a></li>
  </ul>
  <p>i have no plans to add ads or any paid stuff here, but dedicated servers and our time have some costs. i am also leaving link in case if you wanted to say 'thanks' me: <a href="https://paypal.me/seroperson" rel="noopener" target="_blank">paypal.me</a>.</p>
</div>
