<script context="module">
  export function preload({ path }) {
    return { path };
  }
</script>

<script>
  import Navigation from '../components/Navigation.svelte';

  export let path;
</script>

<style>
  ul > li > ul {
    margin-bottom: 0px;
  }
</style>

<svelte:head>
  <title>faq</title>
</svelte:head>

<Navigation
  path={path}/>

<h2>faq</h2>

<div>
  <p>it is list of most frequetly asked questions or questions which i found interesting. if you are still have any, feel free to <a href="/contacts">ask</a> me.</p>
  <ul>
    <li><b>q:</b> how does it work?</li>
    <li><b>a:</b> just after your profile beign tracked, <i>gate</i> starts infinite loop in which it requests your stats data by the ubisoft's api. each time when your stats were changed, we are storing the diff. by appending diffs one by one, we are able to build, display and analyze full stats history until currently actual state.</li>
    <br>
    <li><b>q:</b> how does it differ from wide-known fhtracker?</li>
    <li><b>a:</b> the main difference is that we are storing diffs nor the absolute values. it allows us to build per-season analysis (overall pick-rates, per-mode pick-rates, per-season per-mode pick-rates etc), show match history and so on. besides of it, we are supporting <a href="https://ogp.me/" target="_blank">og</a> (link previews), tracking <a href="/leaderboard">ranked leaderboards</a>, managing neat <a href="/pc/clan/">clan pages</a>, trying to stay up-to-date with recent fh patches, still trying to implement new features sometimes.<br>
    but also to be honest there are some things which are not available (possibly "not availble yet") in <i>gate</i>, such as: displaying in-game time, displaying reputation level, displaying some whole-population stats or leaderboards.</li>
    <br>
    <li><b>q:</b> why my k/d values are different than at fhtracker/in-game stats/official stats browser?</li>
    <li><b>a:</b> while calculating k/d, <i>gate</i> follows the following rules:<ul>
        <li>only public-matchmaking games are counted.</li>
        <li>only player's kills are counted. killing bots are ignored. assists are ignored.</li>
        <li>all deaths are counted, even if you was killed by bot, minion, environment etc.</li>
      </ul>
      i do not know exact algorithms and apis used by mentioned services, so i can not say why exactly results differs.
    </li>
    <br>
    <li><b>q:</b> why my profile is tracked? i did not enter my nickname by myself.</li>
    <li><b>a:</b> besides of user input, there is one more source of data: all top-100 players begin tracked automatically. so, if you was listed in gms in recent seasons, quite possible your profile began tracked automatically.</li>
    <br>
    <li><b>q:</b> i was listed in top-100 during season, but there is no my profile in <i>gate</i>'s ranked leaderboards. why?</li>
    <li><b>a:</b> due to ubisoft's api flaws, their web-leaderboards still contains players which were dropped for inactivity. that is why your position here can differ from your in-game position.</li>
    ...
  </ul>
</div>
