<script context="module">
  export function preload({ path }) {
    return { path };
  }
</script>

<script>
  import Navigation from '../components/Navigation.svelte';
  import TrackUser from '../components/TrackUser.svelte';

  export let path;
</script>

<style>
  img {
    height: 1em;
  }

  :global(.error) {
    text-align: center;
  }
</style>

<svelte:head>
  <title>gate</title>
</svelte:head>

<Navigation
  path={path}/>

<h2>about</h2>

<div>
  <p>hello. this project is a little assistant (in other words, stats tracker) for any
  <a href="https://forhonorgame.com" rel="noopener" target="_blank">for honor</a> player.
  under the hood, it is collecting any (actually not exactly 'any', but anyway) ingame activity affecting your stats
  and then formatting it into human-readable view. just for now, there are not so many features are implemented in
  part of front-end, but anyway there are some things which can be interesting to see. <br>
  also it is home for my experiments with different technologies, so do not surprise if something is working bad or
  not working at all.</p>
  <div class="spaced">
    <label for="input-track-user-field">here you can search for some player to discover his stats:</label>
    <TrackUser/>
  </div>
  <p>special thank to <a href="https://discord.gg/vAWgGbM" target="_blank"><span class="icon"><svg viewBox="0 0 50 50"><path d="M42 11c-4-3-11-4-11-4a1 1 0 00-1 1l9 4a1 1 0 11-1 1 26 26 0 00-26 0 1 1 0 01-1-1l9-4a1 1 0 00-1-1s-7 1-11 4a45 45 0 00-6 23c3 6 11 7 13 7a1 1 0 001 0l1-3-7-3a1 1 0 111-2s5 4 14 4 14-4 14-4a1 1 0 011 0 1 1 0 010 2l-7 3 1 3a1 1 0 001 0c2 0 10-1 13-7 0-10-4-21-6-23zM19 30c-2 0-4-2-4-4s2-4 4-4 3 2 3 4-2 4-3 4zm13 0c-2 0-4-2-4-4s2-4 4-4 3 2 3 4-2 4-3 4z"/></svg></span> battle crabs</a>, <a href="https://discord.gg/w4RKkDr" target="_blank"><span class="icon"><svg viewBox="0 0 50 50"><path d="M42 11c-4-3-11-4-11-4a1 1 0 00-1 1l9 4a1 1 0 11-1 1 26 26 0 00-26 0 1 1 0 01-1-1l9-4a1 1 0 00-1-1s-7 1-11 4a45 45 0 00-6 23c3 6 11 7 13 7a1 1 0 001 0l1-3-7-3a1 1 0 111-2s5 4 14 4 14-4 14-4a1 1 0 011 0 1 1 0 010 2l-7 3 1 3a1 1 0 001 0c2 0 10-1 13-7 0-10-4-21-6-23zM19 30c-2 0-4-2-4-4s2-4 4-4 3 2 3 4-2 4-3 4zm13 0c-2 0-4-2-4-4s2-4 4-4 3 2 3 4-2 4-3 4z"/></svg></span> nova</a> for your help in sharing.</p>
</div>
