<script context="module">
  import * as shared from '../../../../shared.js';

  export async function preload(page, { isBot }) {
    const { platform, name } = page.params;
    if(isBot) {
      if(shared.definedPlatforms.includes(platform)) {
        const res = await this.fetch(`og/${platform}/clan/${name}.json`);
        const jsonResponse = await res.json()
        jsonResponse.platform = platform
        return { ogResponse: jsonResponse };
      } else {
        return this.error(400, "Unknown platform")
      }
    } else {
      return this.error(403, "Unable to display this page for you")
    }
  };
</script>

<script>
  export let ogResponse;
  export let title;
  export let description;

  if(ogResponse.code) {
    if(ogResponse.code == 3) {
      title = "Unknown clan"
    } else {
      title = "Unknown server error"
    }
  } else {
    title = `${shared.clanCountry(ogResponse)} ${ogResponse.nameview}'s personal squad page`
    description = ogResponse.description;
  }
</script>

<style>
</style>

<svelte:head>
  {#if ogResponse.name}
    <title>{ogResponse.name}</title>
  {:else}
    <title>Unknown player</title>
  {/if}
  <meta property="og:type" content="website"/>
  {#if ogResponse.profileid}
    <meta property="og:url" content="https://gate.seroperson.me/{ogResponse.platform}/clan/{ogResponse.nameid}">
  {/if}
  <meta property="og:site_name" content="Gate"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:title" content="{title}"/>
  <meta property="og:image" content="{ogResponse.imagepath}"/>
  {#if description}
    <meta property="og:description" content="{description}"/>
    <meta name="Description" content="{description}">
  {/if}
</svelte:head>
