<script context="module">
  import * as shared from '../../../../shared.js';

  export async function preload(page, { isBot }) {
    const { platform } = page.params;
    if(isBot) {
      if(shared.definedPlatforms.includes(platform)) {
        return { platform };
      } else {
        return this.error(400, "Unknown platform")
      }
    } else {
      return this.error(403, "Unable to display this page for you")
    }
  };
</script>

<script>
  export let platform;
  export let upperCasePlatform = platform.toUpperCase()
  export let title = `All managed ${upperCasePlatform} clans`
</script>

<style>
</style>

<svelte:head>
  <title>{title}</title>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://gate.seroperson.me/{platform}/clan/">
  <meta property="og:site_name" content="Gate"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:title" content="{title}"/>
  <meta property="og:description" content="Investigate all currently managed clans"/>
</svelte:head>
