<script context="module">
  import * as shared from '../../shared.js';

  export function preload({ path, params }) {
    const { platform } = params;
    if(shared.definedPlatforms.includes(platform)) {
      let mainService = shared.createMainService(platform);
      return { path, platform, mainService };
    } else {
      return this.error(400, "Unknown platform")
    }
  };
</script>

<script>
  import Navigation from '../../components/Navigation.svelte';
  import PlatformLabel from '../../components/PlatformLabel.svelte';

  import LeaderboardHistory from '../../components/LeaderboardHistory.svelte';
  import LeaderboardActivity from '../../components/LeaderboardActivity.svelte';

  export let platform;
  export let mainService;
  export let currentPanelId = 0;
  export let path;

  export function changePanelTo(panelId) {
    currentPanelId = panelId;
  }
</script>

<style>
</style>

<svelte:head>
  <title>leaderboard</title>
</svelte:head>

<Navigation
  path={path}/>

<h2>
  leaderboard
  <PlatformLabel
    platform={platform}/>
</h2>

<div>
  <p>
    this page contains information about current top-100 leaderboard state.
  </p>
  <dl>
    <dt>for now there are two sub-pages available:</dt>
    <dd>- entire leaderboard history: {#if currentPanelId == 0}<b>selected</b>{:else}<a on:click|preventDefault={() => changePanelTo(0)}>click</a>{/if}</dd>
    <dd>- recent ranked top-100 activity: {#if currentPanelId == 1}<b>selected</b>{:else}<a on:click|preventDefault={() => changePanelTo(1)}>click</a>{/if}</dd>
  </dl>
  <div>
    {#if currentPanelId == 0}
      <LeaderboardHistory
        platform={platform}
        mainService={mainService}/>
    {:else}
      {#if currentPanelId == 1}
        <LeaderboardActivity
          platform={platform}
          mainService={mainService}/>
      {:else}
        unknown panel id
      {/if}
    {/if}
  </div>
</div>
