<script context="module">
  import * as shared from '../../shared.js';

  export async function preload(page, { isBot }) {
    const { platform } = page.params;
    if(isBot) {
      if(shared.definedPlatforms.includes(platform)) {
        return { platform, isBot };
      } else {
        return this.error(400, "Unknown platform")
      }
    } else {
      return this.error(403, "Unable to display this page for you")
    }
  };
</script>

<script>
  export let description = `Gate is a new-era stats tracker for "For Honor". Inspect your's and other players' stats, history and progress.`
</script>

<style>
</style>

<svelte:head>
  <title>gate</title>
  <meta property="og:type" content="website"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:title" content="Gate's main page"/>
  <meta property="og:description" content="{description}"/>
  <meta property="og:site_name" content="Gate"/>
  <meta name="Description" content="{description}">
</svelte:head>
