<script context="module">
  import * as shared from '../../../../shared.js';

  export async function preload(page, { isBot }) {
    const { platform } = page.params;
    if(isBot) {
      if(shared.definedPlatforms.includes(platform)) {
        const res = await this.fetch(`og/${platform}/player.json`);
        const jsonResponse = await res.json()
        jsonResponse.platform = platform
        return { ogResponse: jsonResponse };
      } else {
        return this.error(400, "Unknown platform")
      }
    } else {
      return this.error(403, "Unable to display this page for you")
    }
  };
</script>

<script>
  export let ogResponse;
  export let upperCasePlatform = ogResponse.platform.toUpperCase()
  export let title = `All currently tracked ${upperCasePlatform} players`
</script>

<style>
</style>

<svelte:head>
  <title>{upperCasePlatform} leaderboard</title>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://gate.seroperson.me/{ogResponse.platform}/player/">
  <meta property="og:site_name" content="Gate"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:title" content="{title}"/>
</svelte:head>
