<script context="module">
  import * as shared from '../../../shared.js';

  export function preload({ path, params }, { isBot }) {
    const { platform, name } = params;
    if(shared.definedPlatforms.includes(platform)) {
      let mainService = shared.createMainService(platform);
      var request = new proto.ClanInfoRequest();
      request.setId(name)
      return { platform, name, request, mainService, isBot, path };
    } else {
      return this.error(400, "Unknown platform")
    }
  };
</script>

<script>
  import Navigation from '../../../components/Navigation.svelte';
  import PlatformLabel from '../../../components/PlatformLabel.svelte';
  import Error from '../../../components/Error.svelte';
  import Loading from '../../../components/Loading.svelte';

  import CategoryStatistics from '../../../components/CategoryStatistics.svelte';
  import GlobalHistory from '../../../components/GlobalHistory.svelte';
  import GlobalHistoryAwardElement from '../../../components/GlobalHistoryAwardElement.svelte';

  import proto from '../../../protobuf_compiled/me/seroperson/gate/forhonor/main_service_grpc_web_pb.js';

  export let name;
  export let platform;
  export let request;
  export let mainService;
  export let path;

  export async function getClanInfo() {
    var result = await mainService.getClanInfo(request)
    var asObject = result.toObject();
    return asObject
  }
</script>

<style>
  h1 {
    margin-bottom: 0;
  }
  .content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .header {
    margin-bottom: 0.6rem;
  }
  .header-subtitle {
    color: #828282;
  }
  .content-body {
    display: flex;
    flex-direction: column;
  }
  .clan-avatar {
    margin-left: 1em;
    object-fit: cover;
    float: right;
    width: 8em;
  }
  .members {
  }
  .changes {
  }
  .member-activity {
    color: #828282;
  }
  ul {
    margin-left: 0px;
    list-style-type: none;
  }
  :global(.loading) {
    margin-top: 1rem;
  }
  :global(.error) {
    margin-top: 1rem;
  }
</style>

<svelte:head>
  <title>clan</title>
</svelte:head>

<Navigation
  path={path}
  highlight="true"/>

{#await getClanInfo(request)}
  <Loading
    text="requesting information"
    isVisible="true"/>
{:then reply}

  <div class="content">
    <div class="content-body">
      <div class="header">
        <h1>
          {shared.clanCountry(reply)}&nbsp;{reply.nameview}
          <PlatformLabel
            platform={platform}/>
        </h1>
        <span class="header-subtitle">
          founded on {shared.timestamp2string(reply.createdtimestamp)}
        </span>
      </div>
      <div>
        {#if reply.imagepath}
          <img
            class="clan-avatar"
            src="{reply.imagepath}"/>
        {/if}
        <p>
          {@html reply.description}
        </p>
      </div>
    </div>
  </div>

  <div class="members">
    <h2>members</h2>
    <ol>
      {#if reply.leader}
        <li>
          <a href="{platform}/player/{reply.leader.profileid}">{reply.leader.name}</a>{#if reply.leader.lastactivity}<span class="member-activity">, last activity {shared.timeDifference(new Date(), reply.leader.lastactivity)} ago</span>{/if}
        </li>
      {/if}
      {#each reply.membersList as member}
        <li>
          <a href="{platform}/player/{member.profileid}">{member.name}</a>{#if member.lastactivity}<span class="member-activity">, last activity {shared.timeDifference(new Date(), member.lastactivity)} ago</span>{/if}
        </li>
      {/each}
    </ol>
  </div>
  <div class="changes">
    <h2>recent changes</h2>
    {#if reply.recentactivityList.length > 0}
      <ul>
        <GlobalHistory
          displayMode={"1"}
          platform={platform}
          clanName={reply.nameid}
          firstTimestamp={reply.recentactivityList[0].timestamp}
          skip={reply.recentactivityList.length}
          changes={reply.recentactivityList}/>
      </ul>
    {/if}
  </div>
{:catch error}
  <Error
    error={error}/>
{/await}
