<script context="module">
  import * as shared from '../../../shared.js';

  export function preload({ path, params }) {
    const { platform } = params;
    if(shared.definedPlatforms.includes(platform)) {
      let mainService = shared.createMainService(platform);
      return { path, platform, mainService };
    } else {
      return this.error(400, "Unknown platform")
    }
  };
</script>

<script>
  import Navigation from '../../../components/Navigation.svelte';
  import PlatformLabel from '../../../components/PlatformLabel.svelte';
  import Error from '../../../components/Error.svelte';
  import Loading from '../../../components/Loading.svelte';
  import Players from '../../../components/Players.svelte';

  import proto from '../../../protobuf_compiled/me/seroperson/gate/forhonor/main_service_grpc_web_pb.js';

  export let platform;
  export let request = new proto.ClansRequest();
  export let mainService;
  export let path;
</script>

<style>
  .content {
    display: flex;
    flex-wrap: wrap;
  }
</style>

<svelte:head>
  <title>clans</title>
</svelte:head>

<Navigation
  path={path}/>

<h2>
  clans
  <PlatformLabel
    platform={platform}/>
</h2>

<div class="content">
  <p>
  here you can notice and investigate curated list of clans, notable squads and so on.<br>
  if you are the 'leader' of something like that and you wanted to make it listed here, please <a href="/contacts" target="_blank">contact</a> me.
  <i>please, notice that not each application will be satisfied as long as i wanted to keep this list clear</i>.</p>
  {#await mainService.getClans(request).then(v => v.toObject())}
    <Loading
      text="requesting information"
      isVisible="true"/>
  {:then reply}
    {#if reply.clansList.length > 0}
      <ul>
        {#each reply.clansList as clan}
          <li>
            {shared.clanCountry(clan)}&nbsp;<a href="{platform}/clan/{clan.nameid}">{clan.nameview}</a> (<b>{clan.playersList.length}</b> total members) - {clan.description}
            <Players
              platform={platform}
              players={clan.playersList}/>
          </li>
        {/each}
      </ul>
    {:else}
      there are no any clans.
    {/if}
  {:catch error}
    <Error
      error={error}/>
  {/await}
</div>
