<script context="module">
  import HeroElement from './HeroElement.svelte';
  import proto from '../protobuf_compiled/me/seroperson/gate/forhonor/main_service_grpc_web_pb.js';
  import protoModel from '../protobuf_compiled/me/seroperson/gate/forhonor/model_pb.js';
</script>

<script>
  export let category;

  export function findKey(where, value) {
    return Object.keys(where).find(key => where[key] === value);
  }
</script>

<style>
  .content {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
  }
  .column-total {
  }
  .column-kill {
  }
  .column-death {
  }
  .column-kd {
  }
  .column-assist {
  }
  .column-win {
  }
  .column-loose {
  }
  .column-wl {
  }
  .row:hover {
    background-color: #00000015;
    font-weight: 600;
  }
  .row-even {
    background-color: #0000000A;
  }
  .row-odd {
    background-color: #00000005;
  }
  .content :global(th) {
    padding: 0.3em;
  }
  .content :global(td) {
    white-space: nowrap;
    padding: 0.3em;
  }
</style>

<table class="content">
  <thead>
    <th class="column-total"></th>
    <th class="column-kill">K</th>
    <th class="column-death">D</th>
    <th class="column-kd">K/D</th>
    <th class="column-assist">A</th>
    <th class="column-win">W</th>
    <th class="column-loose">L</th>
    <th class="column-wl">W/L</th>
  </thead>
  <tbody>
    <tr>
      <HeroElement
        heroId={0}
        level={category.total.level}
        kills={category.total.kills}
        deaths={category.total.deaths}
        assists={category.total.assists}
        wins={category.total.wins}
        losses={category.total.losses}
        kd={category.total.kd}
        wl={category.total.wl}/>
    </tr>
    {#each category.statisticsList as hero, i}
      <tr class={((i % 2 == 0) ? "row-even" : "row-odd") + " row"}>
        <HeroElement
          heroId={hero.hero}
          level={hero.level}
          kills={hero.kills}
          deaths={hero.deaths}
          assists={hero.assists}
          wins={hero.wins}
          losses={hero.losses}
          kd={hero.kd}
          wl={hero.wl}/>
      </tr>
    {/each}
  </tbody>
</table>
