<script>
  import * as shared from '../shared.js';

  export let platform, section, useMargin;

  if(useMargin) {
    useMargin = "4em"
  } else {
    useMargin = "3ex"
  }
</script>

<style>
  .content {
  }
  .element-row {
    white-space: nowrap;
  }
  .title-row {
    text-align: center;
  }
  .player-row {
    display: block;
  }
  .green-label {
    color: #66bb6a;
    font-weight: 600;
  }
  .red-label {
    color: #e53935;
    font-weight: 600;
  }
</style>

<div class="content" style="margin-left: {useMargin}">
  <div class="title-row">
    <h3>{shared.gameToShortName[section.game]}</h3>
  </div>
  <div>
    <ol>
    {#each section.leaderboardList as graphPlayerElement}
      <li>
        <div class="element-row">
          <div class="player-row">
            <a href='{platform}/player/{graphPlayerElement.player.name}'>{graphPlayerElement.player.name}</a>
            <b>{graphPlayerElement.games}</b> games
          </div>
          <div>
            <span class="green-label">{graphPlayerElement.kills}</span> kills, <span class="red-label">{graphPlayerElement.deaths}</span> deaths,
            {#if graphPlayerElement.kd >= 1.0}
              <span class="green-label">{graphPlayerElement.kd}</span> k/d
            {:else}
              <span class="red-label">{graphPlayerElement.kd}</span> k/d
            {/if}
          </div>
        </div>
      </li>
    {/each}
    </ol>
  </div>
</div>
