<script>
  import * as shared from '../shared.js';
  import CustomLeaderboardGameSection from './CustomLeaderboardGameSection.svelte';

  export let platform, customLeaderboard;
</script>

<style>
  .wrapper {
    overflow: scroll;
  }
  .content {
    display: inline-flex;
    flex-wrap: nowrap;
  }
</style>

<div class="wrapper">
  <div class="content">
    {#each customLeaderboard.leaderboardList as graphGameElement, i}
      <CustomLeaderboardGameSection
        platform={platform}
        section={graphGameElement}
        useMargin={i != 0}/>
    {/each}
  </div>
</div>
