<script>
  import * as shared from '../shared.js';
  import HeroAvatar from './HeroAvatar.svelte';
  import dayjs from 'dayjs'
  import proto from '../protobuf_compiled/me/seroperson/gate/forhonor/main_service_grpc_web_pb.js';
  import protoModel from '../protobuf_compiled/me/seroperson/gate/forhonor/model_pb.js';

  export let displayMode;
  export let platform, name, activityTimestamp, changes;

  export function timestamp2time(timestamp) {
    return dayjs(timestamp).format('HH:mm')
  }
</script>

<style>
  .content {
    display: flex;
  }
  .history-batch {
    display: flex;
    flex-direction: column;
  }
  .history-element {
    display: flex;
    flex-direction: row;
  }
  .history-element-game {
    display: inline;
    white-space: nowrap;
  }
  .last-activity-label {
    color: #828282;
  }
  .win-label {
    color: #66bb6a;
    font-weight: 600;
  }
  .loose-label {
    color: #e53935;
    font-weight: 600;
  }
  .stats-container {
    display: inline;
  }
  .stats-label-container {
    display: inline;
    white-space: nowrap;
  }
  .value-qualifier-label {
  }
  .value-label {
    font-weight: 600;
  }
</style>

<div class="content">
  {#if displayMode == "0"}
    <span class="last-activity-label">
      {timestamp2time(activityTimestamp)}
    </span>
    &nbsp;
    <div class="history-batch">
      {#each changes as change}
        <div class="history-element">
          <div class="history-element-game">
            <HeroAvatar
              hero={change.hero}/>
            <span class="value-qualifier-label">{shared.qualifierIdToShortName[change.qualifier]}</span>
            {#if change.wincount > 0 && change.loosecount == 0}
              <span class="win-label">{shared.gameToShortName[change.game]}</span>:
            {:else if change.loosecount > 0 && change.wincount == 0}
              <span class="loose-label">{shared.gameToShortName[change.game]}</span>:
            {:else}
              {shared.gameToShortName[change.game]}:
            {/if}&nbsp;
          </div>
          <div class="stats-container">
            {#if change.humankillcount > 0 || change.botkillcount > 0 || change.minionkillcount > 0 || change.deathcount > 0}
              {#if change.humankillcount > 0}
                <div class="stats-label-container">
                  <span class="value-label">{change.humankillcount}</span> human kill(s)
                </div>
              {/if}
              {#if change.botkillcount > 0}
                <div class="stats-label-container">
                  <span class="value-label">{change.botkillcount}</span> bot kill(s)
                </div>
              {/if}
              {#if change.minionkillcount > 0}
                <div class="stats-label-container">
                  <span class="value-label">{change.minionkillcount}</span> minion kill(s)
                </div>
              {/if}
              {#if change.deathcount > 0}
                <div class="stats-label-container">
                  <span class="value-label">{change.deathcount}</span> death(s)
                </div>
              {/if}
              {#if change.wincount > 0 && (change.wincount != 1 || change.loosecount != 0)}
                <div class="stats-label-container">
                  <span class="value-label">{change.wincount}</span> win(s)
                </div>
              {/if}
              {#if change.loosecount > 0 && (change.loosecount != 1 || change.wincount != 0)}
                <div class="stats-label-container">
                  <span class="value-label">{change.loosecount}</span> loss(es)
                </div>
              {/if}
            {:else}
              -
            {/if}
          </div>
        </div>
      {/each}
    </div>
  {:else if displayMode == "1"}
    <span class="last-activity-label">
      {timestamp2time(activityTimestamp)}
    </span>
    &nbsp;
    <div class="history-batch">
      {#each changes.sort(function(a, b) {
        if (a.loosecount > 0) {
          if (b.loosecount > 0) {
            if (b.wincount > 0) {
              if (a.wincount > b.wincount) {
                return -1;
              } else {
                return 1;
              }
            } else {
              if (a.wincount > 0) {
                return -1;
              } else {
                if (a.loosecount > b.loosecount) {
                  return -1;
                } else {
                  return 1;
                }
              }
            }
          } else {
            return -1;
          }
        } else {
          return 1;
        }
        return 0;
       }) as change}
        <div class="history-element">
          <div class="history-element-game">
            <HeroAvatar
              hero={change.hero}/>
            <span class="value-qualifier-label">{shared.qualifierIdToShortName[change.qualifier]}</span>
            {#if change.wincount > 0 && change.loosecount == 0}
              <span class="win-label">{shared.gameToShortName[change.game]}</span>:
            {:else if change.loosecount > 0 && change.wincount == 0}
              <span class="loose-label">{shared.gameToShortName[change.game]}</span>:
            {:else}
              {shared.gameToShortName[change.game]}:
            {/if}&nbsp;
          </div>
          <div class="stats-container">
            {#if change.wincount > 0}
              <div class="stats-label-container">
                <span class="value-label">{change.wincount}</span> win(s)
              </div>
            {/if}
            {#if change.loosecount > 0}
              <div class="stats-label-container">
                <span class="value-label">{change.loosecount}</span> loss(es)
              </div>
            {/if}
          </div>
        </div>
      {/each}
    </div>
    &nbsp;
    {#if name}
      <span>by <a href={`/${platform}/player/${name}`}>{name}</a></span>
    {/if}
  {/if}
</div>
