<script context="module">
  import * as shared from '../shared.js';
  import HeroAvatar from './HeroAvatar.svelte';
</script>

<script>
  export let season, place, hero;
</script>

<style>
  .content {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
  }
  .award {
    position: relative;
    top: 0;
    left: 0;
  }
  .gm {
    height: 1em;
    position: relative;
    top: 0;
    left: 0;
  }
  .gm-position {
    position: relative;
    top: 0;
    left: 0;
  }
  :global(.hero-avatar) {
    height: 1em;
    align-self: center;
  }
</style>

<div class="content">
  {#if hero != 0}
    <HeroAvatar
      hero={hero}/>
    &nbsp;
  {/if}
  <span>
    {#if season == 14}
      <b>#{place}</b> in <a href="/leaderboard">S{season}</a>
    {:else}
      <b>#{place}</b> in S{season}
    {/if}
  </span>
</div>
