<script context="module">
  import GlobalHistoryElement from './GlobalHistoryElement.svelte';
  import GlobalHistory from './GlobalHistory.svelte';
  import proto from '../protobuf_compiled/me/seroperson/gate/forhonor/main_service_grpc_web_pb.js';
  import dayjs from 'dayjs'
  import * as shared from '../shared.js';
</script>

<script>
  export let displayMode;
  export let platform, playerName, clanName, firstTimestamp, skip, changes, nextReply, previousDate;
  export let mainService = shared.createMainService(platform);

  export async function loadMore(event) {
    var request = new proto.HistoryRequest();
    var id = new proto.HistoryRequestType()
    if (playerName) {
      id.setPlayerid(shared.parsePlayerId(playerName))
    } else if (clanName) {
      id.setClanid(clanName)
    }
    request.setSkip(skip);
    request.setLimit(20);
    request.setId(id);
    request.setFirsttimestamp(firstTimestamp);
    var recentActivitySize = changes.length
    var lastActivity = changes[recentActivitySize - 1]
    request.setLasttimestamp(lastActivity.timestamp)
    try {
      var result = await mainService.getHistory(request)
      var asObject = result.toObject()

      if (asObject.recentactivityList != null) {
        nextReply = asObject;
        return asObject.recentactivityList;
      } else {
        this.error(400, "Error");
      }
    } catch (e) {
    }
  }

  export function checkDateAndDisplayIfAny(timestamp) {
    var newDate = dayjs(timestamp).format('DD MMMM YYYY')
    var result = newDate == previousDate
    if(!result) {
      previousDate = newDate
      return previousDate
    } else {
      return ""
    }
  }
</script>

<style>
  .date-header {
    font-weight: 600;
    text-align: center;
    margin-top: 0.5em;
  }
  .date-header:empty {
    display: none;
  }
</style>

{#each changes as activity}
  <div class="date-header">
    {checkDateAndDisplayIfAny(activity.timestamp)}
  </div>
  <li>
    <GlobalHistoryElement
      platform={platform}
      name={activity.name}
      activityTimestamp={activity.timestamp}
      changes={activity.changesList}
      displayMode={displayMode}/>
  </li>
{/each}
{#if nextReply}
  {#if nextReply.hasnext}
    <GlobalHistory
      displayMode={displayMode}
      previousDate={previousDate}
      platform={platform}
      playerName={playerName}
      clanName={clanName}
      firstTimestamp={firstTimestamp}
      skip={nextReply.nextskip}
      changes={nextReply.recentactivityList}/>
  {/if}
{:else}
  <li>
    <a on:click|preventDefault={loadMore}>load more</a>
  </li>
{/if}
