<script>
  import * as shared from '../shared.js';

  export let hero;
</script>

<style>
  .hero-avatar {
    height: 1em;
  }
</style>

<picture>
    <source type="image/webp" srcset={shared.heroIdToImagePath(hero)}>
    <source type="image/png" srcset={shared.heroIdToImagePath(hero, "png")}>
    <img
      class="hero-avatar"
      src={shared.heroIdToImagePath(hero)}
      alt={shared.heroIdToShortName[hero]}
      title={shared.heroIdToShortName[hero]}/>
</picture>
