<script>
  import * as shared from '../shared.js';
  import HeroAvatar from './HeroAvatar.svelte';

  export let heroId, level, kills, deaths, assists, wins, losses, kd, wl;
</script>

<style>
  .hero-column {
    height: 1em;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;
  }
  .hero-text {
    white-space: nowrap;
  }
  .label {
    color: #0000cc;
  }
</style>

{#if heroId != 0}
  <td class="hero-column">
    <HeroAvatar
      hero={heroId}/>
    <div class="hero-text">
      &nbsp;{shared.heroIdToShortName[heroId]}
    </div>
  </td>
{:else}
  <td><b>Total</b></td>
{/if}
<td><span class="label">{kills}</span></td>
<td><span class="label">{deaths}</span></td>
<td>
  <span class="label">
    {#if kd > 0}
      {kd}
    {:else}
      ?
    {/if}
  </span>
</td>
<td><span class="label">{assists}</span></td>
<td><span class="label">{wins}</span></td>
<td><span class="label">{losses}</span></td>
<td>
  <span class="label">
    {#if wl > 0}
      {wl}
    {:else}
      ?
    {/if}
  </span>
</td>
