<script>
  export let backArrowHref;
</script>

<style>
</style>

<div align="center">
  {#if backArrowHref}
    <a aria-label="back" href={backArrowHref}>
      <span class="icon icon-padding">
        <svg viewBox="0 0 24 24">
          <path d="M20 11v2H8l5.5 5.5-1.42 1.42L4.16 12l7.92-7.92L13.5 5.5 8 11h12z"/>
        </svg>
      </span>
    </a>
  {/if}
  <a aria-label="home" href="/">
    <span class="icon icon-padding">
      <svg viewBox="0 0 32 32">
        <path d="M32 19l-6-6V4h-4v5l-6-6L0 19v1h4v10h10v-6h4v6h10V20h4z"/>
      </svg>
    </span>
  </a>
</div>
