<script>
  import LeaderboardHistoryElement from './LeaderboardHistoryElement.svelte';
  import Loading from './Loading.svelte';

  import proto from '../protobuf_compiled/me/seroperson/gate/forhonor/main_service_grpc_web_pb.js';
  import * as shared from '../shared.js';

  export let platform;
  export let request = new proto.LeaderboardHistoryRequest();
  export let mainService;

  export async function update(timestamp) {
    request.setTimestamp(timestamp)
    loading = true;
    var result = await mainService.getLeaderboardHistory(request)
    response = result.toObject();
    loading = false;
  }

  export let response;
  export let loading = false;
</script>

<style>
  ul {
    padding: 0;
    list-style-type: none;
  }
  .history-panel {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    text-align: center;
    margin-bottom: 1rem;
  }
  .disabled {
    cursor: not-allowed;
    color: #828282;
  }
</style>

<ul>
  <div class="history-panel">
    <div class="history-panel-left-arrow">
      {#if response.previousseasontimestamp > 0}
        {#if loading}
          <span class="disabled">Season {response.season - 1}</span>
        {:else}
          <a on:click|preventDefault={() => update(response.previousseasontimestamp)}>Season {response.season - 1}</a>
        {/if}
      {:else}
        -
      {/if}
    </div>
    <div class="history-panel-center-arrow">Season {response.season}</div>
    <div class="history-panel-right-arrow">
      {#if response.nextseasontimestamp > 0}
        {#if loading}
          <span class="disabled">Season {response.season + 1}</span>
        {:else}
          <a on:click|preventDefault={() => update(response.nextseasontimestamp)}>Season {response.season + 1}</a>
        {/if}
      {:else}
        -
      {/if}
    </div>
    <div class="history-panel-left-arrow">
      {#if response.previousiterationtimestamp > 0}
        {#if loading}
          <span class="disabled">{shared.timestamp2string(response.previousiterationtimestamp)}</span>
        {:else}
          <a on:click|preventDefault={() => update(response.previousiterationtimestamp)}>{shared.timestamp2string(response.previousiterationtimestamp)}</a>
        {/if}
      {:else}
        -
      {/if}
    </div>
    <div class="history-panel-center-arrow">
      {#if loading}
        <Loading
          isVisible="true"/>
      {:else}
        {shared.timestamp2string(response.iteration.timestamp)}
      {/if}
    </div>
    <div class="history-panel-right-arrow">
      {#if response.nextiterationtimestamp > 0}
        {#if loading}
          <span class="disabled">{shared.timestamp2string(response.nextiterationtimestamp)}</span>
        {:else}
          <a on:click|preventDefault={() => update(response.nextiterationtimestamp)}>{shared.timestamp2string(response.nextiterationtimestamp)}</a>
        {/if}
      {:else}
        -
      {/if}
    </div>
  </div>
  {#each response.iteration.stateList as player}
    <li>
      <LeaderboardHistoryElement
        platform={platform}
        name={player.name}
        profileId={player.profileid}
        heroId={player.toprankedhero}
        lastRankedActivity={player.lastrankedgametimestamp}
        position={player.position}
        previousPosition={player.previousposition}/>
    </li>
  {/each}
</ul>
