<script>
  import * as shared from '../shared.js';
  import HeroAvatar from './HeroAvatar.svelte';

  export let platform, activityTimestamp, name, profileId, position, heroId, changes;
</script>

<style>
  .content {
    display: flex;
    position: relative;
  }
  .hero-avatar {
    height: 1em;
  }
  .history-batch {
    display: block;
  }
  .last-activity-label {
    color: #828282;
  }
  .win-label {
    color: #66bb6a;
  }
  .loose-label {
    color: #e53935;
  }
  .bold {
    font-weight: 600;
  }
</style>

<div class="content">
  <HeroAvatar
    hero={heroId}/>
  &nbsp;
  <a href='{platform}/player/{profileId}'>{name}</a>&nbsp;(#{position})&nbsp;
  <div class="history-batch">
    {#each changes as change}
      <div>
        {#if change.wincount > 0}
          <span class="win-label bold">+{change.wincount}</span> <span class="win-label">win(s)</span>
        {/if}
        {#if change.loosecount > 0}
          <span class="loose-label bold">+{change.loosecount}</span> <span class="loose-label">loss(es)</span>
        {/if}
        by
        <HeroAvatar
          hero={change.hero}/>
      </div>
    {/each}
  </div>
  &nbsp;
  <span class="last-activity-label">
    {shared.timeDifference(Date.now(), activityTimestamp)} ago
  </span>
</div>
