<script>
  import * as shared from '../shared.js';
  import HeroAvatar from './HeroAvatar.svelte';

  export let platform, heroId, name, profileId, lastRankedActivity, position, previousPosition;
</script>

<style>
  .up-label {
    color: #66bb6a;
  }
  .down-label {
    color: #e53935;
  }
  .still-same-label {
    color: #ffee58;
  }
  .last-activity-label {
    color: #828282;
  }
  .bold {
    font-weight: 600;
  }
</style>

{position}
{#if previousPosition > 0}
  {#if previousPosition < position}
    <span class="down-label bold">˅ {position - previousPosition}</span>
  {:else}
    {#if previousPosition > position}
      <span class="up-label bold">˄ {previousPosition - position}</span>
    {:else}
      <span class="still-same-label bold">-</span>
    {/if}
  {/if}
{:else}
  <span class="up-label bold">+</span>
{/if}
{#if heroId != 0}
  <HeroAvatar
    hero={heroId}/>
{/if}
<a href='{platform}/player/{profileId}'>{name}</a>
{#if lastRankedActivity > 0}
  <span class="last-activity-label">
    {shared.timeDifference(Date.now(), lastRankedActivity)} ago
  </span>
{/if}
