<script>
  import LeaderboardActivityElement from './LeaderboardActivityElement.svelte';
  import Loading from './Loading.svelte';
  import Error from './Error.svelte';

  import proto from '../protobuf_compiled/me/seroperson/gate/forhonor/main_service_grpc_web_pb.js';
  import * as shared from '../shared.js';

  export let platform;
  export let request = new proto.LeaderboardActivityRequest();
  export let mainService;

  export async function getLeaderboardActivity() {
    var result = await mainService.getLeaderboardActivity(request)
    return result.toObject();
  }
</script>

<style>
  ul {
    list-style-type: none;
    padding: 0;
  }
</style>

<div class="content">
  <p>
    the following list is a history of top-100 recent performance. currently data does not update
    automatically and valid just as of moment when page was loaded.
  </p>
  {#await getLeaderboardActivity()}
    <Loading
      text="requesting recent activity"
      isVisible="true"/>
  {:then reply}
    <ul>
      {#each reply.recentactivityList as activity}
        <li>
          <LeaderboardActivityElement
            platform={platform}
            name={activity.name}
            profileId={activity.profileid}
            position={activity.position}
            heroId={activity.toprankedhero}
            activityTimestamp={activity.timestamp}
            changes={activity.changesList}/>
        </li>
      {/each}
    </ul>
  {:catch error}
    <Error
      error={error}/>
  {/await}
</div>
