<script>
  import LeaderboardHistoryPanel from './LeaderboardHistoryPanel.svelte';
  import Loading from './Loading.svelte';
  import Error from './Error.svelte';

  import proto from '../protobuf_compiled/me/seroperson/gate/forhonor/main_service_grpc_web_pb.js';
  import * as shared from '../shared.js';

  export let platform;
  export let request = new proto.LeaderboardHistoryRequest();
  export let mainService;
</script>

<style>
</style>

<div class="content">
  <p>
    here you can observe current leaderboard state. besides of nicknames, you can notice player's most
    played ranked hero, his recent ranked activity (if you are surfing history, then it will be displayed
    relatively to appropriate date). i have such information just only if player has played some ranked games
    after i have started tracking him. that is why there are entries without it - because they have not played
    any ranked games after getting in top-100.
  </p>
  {#await mainService.getLeaderboardHistory(request)}
    <Loading
      text="requesting leaderboard"
      isVisible="true"/>
  {:then reply}
    <LeaderboardHistoryPanel
      platform={platform}
      mainService={mainService}
      response={reply.toObject()}/>
  {:catch error}
    <Error
      error={error}/>
  {/await}
</div>
