<script>
  export let text, isVisible;
</script>

<style>
  .loading {
    display: inline-block;
  }

  @keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
  }

  .loading span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
  }

  .loading span:nth-child(2) {
    animation-delay: .2s;
  }

  .loading span:nth-child(3) {
    animation-delay: .4s;
  }
</style>

{#if isVisible}
  <div class="loading">
    {#if text}
      {text}
    {/if}
    <span>.</span><span>.</span><span>.</span>
  </div>
{/if}
