<script context="module">
  import * as shared from '../shared.js';
</script>

<script>
  export let path;
  export let highlight;
</script>

<style>
  center {
    margin-bottom: 1rem;
  }
  .funcs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .funcs-element {
    display: flex;
    flex-direction: row;
    margin-right: 1em;
  }
  .funcs-platform {
    margin-right: 0.3em;
  }
</style>

<center>
  <div class="funcs">
    <div class="funcs-element">
      {#if path == "/"}
        <b>main</b>
      {:else}
        <a href="/">main</a>
      {/if}
    </div>
    <div class="funcs-element">
      {#if path == "/changelog"}
        <b>changelog</b>
      {:else}
        <a href="/changelog">changelog</a>
      {/if}
    </div>
    <div class="funcs-element">
      {#if path == "/faq"}
        <b>faq</b>
      {:else}
        <a href="/faq">faq</a>
      {/if}
    </div>
    <div class="funcs-element">
      {#if path == "/contacts"}
        <b>contacts</b>
      {:else}
        <a href="/contacts">contacts</a>
      {/if}
    </div>
  </div>

  <div class="funcs">
    <div class="funcs-element">
      overall stats:&nbsp;
      {#each shared.definedPlatforms as platform}
        <div class="funcs-platform">
        {#if path.startsWith(`/${platform}/player/`)}
          {#if highlight}
            <a href="/{platform}/player/"><b>{platform}</b></a>
          {:else}
            <b>{platform}</b>
          {/if}
        {:else}
          <a href="/{platform}/player/">{platform}</a>
        {/if}
        </div>
      {/each}
    </div>

    <div class="funcs-element">
      clans:&nbsp;
      {#each shared.definedPlatforms as platform}
        <div class="funcs-platform">
        {#if path.startsWith(`/${platform}/clan/`)}
          {#if highlight}
            <a href="/{platform}/clan/"><b>{platform}</b></a>
          {:else}
            <b>{platform}</b>
          {/if}
        {:else}
          <a href="/{platform}/clan/">{platform}</a>
        {/if}
        </div>
      {/each}
    </div>

    <div class="funcs-element">
      ranked leaderboards:&nbsp;
      {#each shared.definedPlatforms as platform}
        <div class="funcs-platform">
        {#if path.startsWith(`/${platform}/leaderboard/`)}
          {#if highlight}
            <a href="/{platform}/leaderboard/"><b>{platform}</b></a>
          {:else}
            <b>{platform}</b>
          {/if}
        {:else}
          <a href="/{platform}/leaderboard/">{platform}</a>
        {/if}
        </div>
      {/each}
    </div>
  </div>
</center>
