<script>
  import * as shared from '../shared.js';

  import Players from './Players.svelte';
  import CustomLeaderboard from './CustomLeaderboard.svelte';
  import RateGraph from './RateGraph.svelte';
  import PlatformLabel from './PlatformLabel.svelte';
  import Loading from './Loading.svelte';

  import proto from '../protobuf_compiled/me/seroperson/gate/forhonor/main_service_grpc_web_pb.js';

  export let platform;
  export let mainService;
  export let request = new proto.GraphsRequest();
  export let selectedSeason;
  export let players;
  export let allSeasons;
  export let overallGraph;
  export let customLeaderboard;
  export let loading = false;

  export async function openSeason(season) {
    selectedSeason = season;
    request.setSeason(season.number);
    loading = true;
    var result = await mainService.getGraphs(request);
    var asObject = result.toObject();
    overallGraph = asObject.overallgraph;
    customLeaderboard = asObject.customleaderboard;
    loading = false;
  }
</script>

<style>
  .content {
  }
  .header {
    margin-bottom: 0.6rem;
  }
  .header > h2 {
    margin-bottom: 0;
  }
  .season-selector {
    display: block;
    width: 100%;
  }
  h2 {
    margin-top: 0.6rem;
  }
</style>

<div class="header">
  <h2>
    overall stats
    <PlatformLabel
      platform={platform}/>
  </h2>
  <div class="season-selector">
    {#each allSeasons as availableSeason, i}
      {#if availableSeason.number == selectedSeason.number}
        <b>season {availableSeason.title}</b>{#if i != allSeasons.length - 1},&nbsp;{/if}
      {:else}
        {#if loading}
          season <b>{availableSeason.title}</b>{#if i != allSeasons.length - 1},&nbsp;{/if}
        {:else}
          <a on:click|preventDefault={() => openSeason(availableSeason)}>season <b>{availableSeason.title}</b></a>{#if i != allSeasons.length - 1},&nbsp;{/if}
        {/if}
      {/if}
    {/each}
    <Loading
      isVisible={loading}/>
  </div>
</div>

<div class="content">
  <h2>most active players</h2>
  {#if customLeaderboard && customLeaderboard.leaderboardList}
    <CustomLeaderboard
      platform={platform}
      customLeaderboard={customLeaderboard}/>
  {:else}
    Graph is not ready yet. Please, try to update this page in few minutes.
  {/if}

  <h2>pick-rates</h2>
  {#if overallGraph && overallGraph.graphList}
    <RateGraph
      platform={platform}
      rateGraph={overallGraph}/>
  {:else}
    Graph is not ready yet. Please, try to update this page in few minutes.
  {/if}

  <h2>all tracked players</h2>
  <Players
    platform={platform}
    players={players}/>
</div>
