<script>
  export let platform;
</script>

<style>
  .label {
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: 2px 4px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 400;
    color: #fff;
  }
  .label.label-outlined {
    border-width: 1px;
    border-style: solid;
    background-color: transparent;
  }
  .label.label-pc {
    color: #000;
  }
  .label.label-xbox {
    color: #66bb6a;
  }
  .label.label-psn {
    color: #29b6f6;
  }
</style>


<div class={"label label-outlined label-" + platform}>
  {platform}
</div>
