<script>
  import * as shared from '../shared.js';

  export let platform, players;
</script>

<style>
  .content {
    display: flex;
    flex-wrap: wrap;
  }
</style>

<div class="content">
  {#each players as player}
    <div>
      <a
        href='{platform}/player/{player.name}'
        title='last activity on {shared.timeDifference(Date.now(), player.lastactivity)} ago'>
        {player.name}</a>,&nbsp;
    </div>
  {/each} ...
</div>
