<script>
  import * as shared from '../shared.js';
  import HeroAvatar from './HeroAvatar.svelte';

  export let platform, section, useMargin;

  if(useMargin) {
    useMargin = "4em"
  } else {
    useMargin = "3ex"
  }
</script>

<style>
  .content {
  }
  .title-row {
    text-align: center;
  }
  .hero-row {
    display: block;
  }
  .element-row {
    white-space: nowrap;
  }
  .green-label {
    color: #66bb6a;
    font-weight: 600;
  }
  .red-label {
    color: #e53935;
    font-weight: 600;
  }
  .up-label {
    color: #66bb6a;
  }
  .down-label {
    color: #e53935;
  }
  .still-same-label {
    color: #ffee58;
  }
  .last-activity-label {
    color: #828282;
  }
  .bold {
    font-weight: 600;
  }
</style>

<div class="content" style="margin-left: {useMargin}">
  <div class="title-row">
    <h3>{shared.gameToShortName[section.game]}</h3>
  </div>
  <div>
    <ol>
    {#each section.graphList as graphHeroElement}
      <li class="element-row">
        <div class="hero-row">
          {#if graphHeroElement.positiondiff > 0}
            <span class="up-label bold">˄ {graphHeroElement.positiondiff}</span>
          {:else}
            {#if graphHeroElement.positiondiff == -999}
              <span class="up-label bold">+</span>
            {:else}
              {#if graphHeroElement.positiondiff < 0}
                <span class="down-label bold">˅ {graphHeroElement.positiondiff}</span>
              {:else}
                <span class="still-same-label bold">-</span>
              {/if}
            {/if}
          {/if}
          <HeroAvatar
            hero={graphHeroElement.hero}/>
          {shared.heroIdToShortName[graphHeroElement.hero]}
          <b>{graphHeroElement.rawpickrate}</b>%
          {#if graphHeroElement.rawpickratediff > 0.0}
            <span class="green-label">+{graphHeroElement.rawpickratediff}</span>%
          {:else}
            {#if graphHeroElement.rawpickratediff != -999.0}
              <span class="red-label">{graphHeroElement.rawpickratediff}</span>%
            {/if}
          {/if}
        <div>
      </li>
    {/each}
    </ol>
  </div>
</div>
