<script>
  import * as shared from '../shared.js';
  import RateGraphGameSection from './RateGraphGameSection.svelte';

  export let platform, rateGraph;
</script>

<style>
  .wrapper {
    overflow: scroll;
  }
  .content {
    display: inline-flex;
    flex-wrap: nowrap;
  }
</style>

<div class="wrapper">
  <div class="content">
    {#each rateGraph.graphList as graphGameElement, i}
      <RateGraphGameSection
        platform={platform}
        section={graphGameElement}
        useMargin={i != 0}/>
    {/each}
  </div>
</div>
