<script>
  export let error;
</script>

<style>
</style>

<div class="error">
  {error.message.toLowerCase()}
  <p>please, contact <a href="mailto:seroperson@gmail.com">seroperson@gmail.com</a> if you have any questions.</p>
</div>
