<script context="module">
  import proto from '../protobuf_compiled/me/seroperson/gate/forhonor/main_service_grpc_web_pb.js';
  import Loading from './Loading.svelte';
  import Error from './Error.svelte';
  import * as shared from '../shared.js';
</script>

<script>
  export let request = new proto.TrackUserRequest();
  export let name = ""
  export let loadedName;
  export let error;
  export let selectedPlatform = "pc";

  let disabledDueToLoading = null
  $: disabled = /^.{3,24}$/g.test(name) ? "" : "disabled";
  $: buttonClass = disabled == "disabled" ? "search-disallowed" : (disabledDueToLoading == "disabled" ? "search-disallowed" : "search-allowed")

  async function track() {
    disabledDueToLoading = "disabled"
    loadedName = null;
    error = null;
    request.setName(name)

    try {
      var result = await shared.createMainService(selectedPlatform).trackUser(request)
      var asObject = result.toObject()
      if (asObject.name) {
        loadedName = asObject.name;
      }
    } catch (e) {
      error = e;
    } finally {
      disabledDueToLoading = null;
    }
  }
</script>

<style>
  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .input-track-user-container {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
  }

  .input-track-user-platform-label {
    margin: 0.4em;
  }

  .search-allowed {
  }

  .search-disallowed {
    cursor: not-allowed;
  }
</style>

<div class="input-container">
  <div class="input-track-user-container">
    <input id="input-track-user-field" bind:value={name} disabled={disabledDueToLoading}>
    <button class="{buttonClass}" on:click={track} disabled={disabled || disabledDueToLoading}>
      {#if disabledDueToLoading}
        <Loading
          isVisible="true"/>
      {:else}
        search
      {/if}
    </button>
  </div>
  <div>
    <input id="input-track-user-pc" type="radio" bind:group={selectedPlatform} value="pc">
    <label class="input-track-user-platform-label" for="input-track-user-pc">pc</label>

    <input id="input-track-user-xbox" type="radio" bind:group={selectedPlatform} value="xbox">
    <label class="input-track-user-platform-label" for="input-track-user-xbox">xbox</label>

    <input id="input-track-user-psn" type="radio" bind:group={selectedPlatform} value="psn">
    <label class="input-track-user-platform-label" for="input-track-user-psn">psn</label>
  </div>
  {#if loadedName}
    <div>
      done. inspect your stats <a href={selectedPlatform + "/player/" + loadedName}>here</a>.
    </div>
  {/if}
  {#if error}
    <Error
      error={error}/>
  {/if}
</div>
