body {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #111;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, table, .spaced {
  margin-bottom: 0.6rem;
}

a, button {
  color: #0000cc;
  text-decoration: none;
}

a:hover, button:hover {
  color: lighten(#0000cc, 10%);
}

ul {
  margin-left: 1.5em;
}

button:disabled {
  color: #828282;
}

svg {
  display: block;
}

.icon svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.icon svg path {
  fill: #828282;
}

.icon-padding {
  padding-left: 16px;
  padding-right: 16px;
}
