<script context="module">
  import * as shared from '../../../shared.js';
  import HeroAvatar from '../../../components/HeroAvatar.svelte';

  export function preload({ path, params }, { isBot }) {
    const { platform, name } = params;
    if(shared.definedPlatforms.includes(platform)) {
      var request = new proto.GlobalStatisticsRequest();
      request.setId(shared.parsePlayerId(name))
      return { platform, name, request, isBot, path };
    } else {
      return this.error(400, "Unknown platform")
    }
  };
</script>

<script>
  import Navigation from '../../../components/Navigation.svelte';
  import PlatformLabel from '../../../components/PlatformLabel.svelte';
  import Error from '../../../components/Error.svelte';
  import Loading from '../../../components/Loading.svelte';

  import CategoryStatistics from '../../../components/CategoryStatistics.svelte';
  import GlobalHistory from '../../../components/GlobalHistory.svelte';
  import GlobalHistoryAwardElement from '../../../components/GlobalHistoryAwardElement.svelte';

  import Clipboard from 'clipboard';
  import { onDestroy } from 'svelte';

  import proto from '../../../protobuf_compiled/me/seroperson/gate/forhonor/main_service_grpc_web_pb.js';

  export let name;
  export let platform;
  export let request;
  export let mainService = shared.createMainService(platform);
  export let clipboard;
  export let path;

  export let selectedCategory;
  export let selectedSubCategory;

  onDestroy(() => {
    if(clipboard) {
      clipboard.destroy();
    }
  });

  export async function getGlobalStatistics() {
    var result = await mainService.getGlobalStatistics(request)
    var asObject = result.toObject();
    if(asObject.categoriesList.length > 0) {
      selectedCategory = asObject.categoriesList[0].subcategoriesList
    } else {
      selectedCategory = asObject.overallList
    }
    changeCategory()
    name = asObject.name
    clipboard = new Clipboard('#copy-link', {
      text: function(trigger) {
        return "https://gate.seroperson.me/" + platform + "/player/" + asObject.profileid;
      }
    });
    clipboard.on('success', function(e) {
      alert(
        "Permanent link successfully copied to clipboard.\n" +
        "If you need beautiful link, just replace the id with your nickname, like that:\n" +
        "https://gate.seroperson.me/" + platform + "/player/" + name
      )
    });
    clipboard.on('error', function(e) {
      alert("Unable to access clipboard.")
    });

    return asObject
  }

  export let gameIdToShortName = {
    1: "Dominion",
    2: "Brawl",
    3: "Duel",
    4: "Team Deathmatch",
    5: "The Last Man Standing",
    6: "Breach",
    7: "Tribute",
    11: "Ranked Duel"
  };

  export let sourceIdToShortName = {
    0: "project admin",
    1: "leaderboard autopopulation",
    2: "some user"
  };

  export function changeCategory() {
    selectedSubCategory = (selectedSubCategory && selectedCategory.find(function(element) {
      return element.gamefilter == selectedSubCategory.gamefilter
    })) || selectedCategory[0]
  }
</script>

<style>
  .content {
  }
  h1 {
    margin-bottom: 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6rem;
  }
  .header-subtitle {
    display: flex;
    justify-content: space-between;
  }
  .header-name {
    width: 100%;
  }
  .header-name-tracked {
    color: #828282;
  }
  .header-awards {
  }
  .content-statistics {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .content-selectors {
    margin-bottom: 1rem;
  }
  .content-overall {
    margin-bottom: 1rem;
  }
  .element {
  }
  ul {
    margin-left: 0px;
    list-style-type: none;
  }
  :global(.loading) {
    margin-top: 1rem;
  }
  :global(.error) {
    margin-top: 1rem;
  }
</style>

<svelte:head>
  <title>{name}</title>
</svelte:head>

<Navigation
  path={path}
  highlight="true"/>

{#await getGlobalStatistics(request)}
  <Loading
    text="requesting information"
    isVisible="true"/>
{:then reply}

  <div class="header">

    <div class="header-name">
      <h1>
        {#if Clipboard.isSupported()}
          <a id="copy-link" aria-label="copy-link">
            <span class="icon">
              <svg viewBox="0 0 24 24">
                <path d="m10.59 13.41c0.41 0.39 0.41 1.03 0 1.42-0.39 0.39-1.03 0.39-1.42 0-1.95-1.95-1.95-5.12 0-7.07l3.54-3.54c1.95-1.95 5.12-1.95 7.07 0s1.95 5.12 0 7.07l-1.49 1.49c0.01-0.82-0.12-1.64-0.4-2.42l0.47-0.48c1.18-1.17 1.18-3.07 0-4.24-1.17-1.18-3.07-1.18-4.24 0l-3.53 3.53c-1.18 1.17-1.18 3.07 0 4.24m2.82-4.24c0.39-0.39 1.03-0.39 1.42 0 1.95 1.95 1.95 5.12 0 7.07l-3.54 3.54c-1.95 1.95-5.12 1.95-7.07 0s-1.95-5.12 0-7.07l1.49-1.49c-0.01 0.82 0.12 1.64 0.4 2.43l-0.47 0.47c-1.18 1.17-1.18 3.07 0 4.24 1.17 1.18 3.07 1.18 4.24 0l3.53-3.53c1.18-1.17 1.18-3.07 0-4.24-0.41-0.39-0.41-1.03 0-1.42z"/>
              </svg>
            </span>
          </a>
        {/if}
        {reply.name}
        <PlatformLabel
          platform={platform}/>
      </h1>
    </div>
    <div class="header-subtitle">
      <span class="header-name-tracked">
        tracked since {shared.timestamp2string(reply.trackedsince ? reply.trackedsince : Date.now())}
      </span>

      <div class="header-awards">
        {#each reply.awards.rankedList as rankedAward}
          <GlobalHistoryAwardElement
            season={rankedAward.season}
            place={rankedAward.place}
            hero={rankedAward.mostplayedhero}/>
        {/each}
      </div>
    </div>
  </div>

  <div class="content">

    {#if reply.trackedsince}
      <h2>recent changes</h2>

      <p>
        as long as we are capturing almost everything, recent changes also available.
        commonly each entry is a 'single' game but sometimes it can contain results from several matches.
        {#if reply.recentactivityList.length == 0}
          for now seems like there are no any changes since being tracked.
        {/if}
      </p>
      {#if reply.recentactivityList.length > 0}
        <ul>
          <GlobalHistory
            displayMode={"0"}
            platform={platform}
            playerName={reply.profileid}
            firstTimestamp={reply.recentactivityList[0].timestamp}
            skip={reply.recentactivityList.length}
            changes={reply.recentactivityList}/>
        </ul>
      {/if}

      <h2>per-mode statistics</h2>

      <p>
        here you can inspect per-mode statistics. splitting by seasons is also available but it
        works just only for games played after player beign tracked.
      </p>

      {#if reply.categoriesList.length > 0}
        <div class="content-statistics">
          <div class="content-selectors">

            <select bind:value={selectedCategory} style="display: none"></select>
            <select bind:value={selectedCategory} on:change={changeCategory}>
              {#each reply.categoriesList as category}
                <option value={category.subcategoriesList}>
                  {#if category.season}
                    Season {category.season.title}
                  {:else}
                    Overall
                  {/if}
                </option>
              {/each}
            </select>

            {#if selectedCategory}
              <select bind:value={selectedSubCategory}>
                {#each selectedCategory as subCategory}
                  {#if subCategory.stats}
                    <option value={subCategory}>
                      {gameIdToShortName[subCategory.gamefilter]}
                      {#if selectedCategory != reply.overallList}
                        ({Math.round(Number(subCategory.stats.playrate).toFixed(2) * 100)}%)
                      {/if}
                    </option>
                  {:else}
                    <option value={subCategory}>Overall</option>
                  {/if}
                {/each}
              </select>
            {/if}

          </div>

          {#if selectedSubCategory}
            <div class="content-overall">
              {#if selectedSubCategory.greatestperformance}
                <div>
                  {#if selectedSubCategory.stats}
                    Greatest performance: <b>{selectedSubCategory.greatestperformance.kills}</b> / <b>{selectedSubCategory.greatestperformance.deaths}</b> by
                  {:else}
                    Greatest performance: <b>{selectedSubCategory.greatestperformance.kills}</b> / <b>{selectedSubCategory.greatestperformance.deaths}</b> in <b>{gameIdToShortName[selectedSubCategory.greatestperformance.game]}</b> by
                  {/if}
                  <HeroAvatar
                    hero={selectedSubCategory.greatestperformance.hero}/> on <b>{shared.timestamp2string(selectedSubCategory.greatestperformance.timestamp)}</b>
                </div>
              {/if}
              {#if selectedSubCategory.greatestfail}
                <div>
                  {#if selectedSubCategory.stats}
                    Greatest fail: <b>{selectedSubCategory.greatestfail.kills}</b> / <b>{selectedSubCategory.greatestfail.deaths}</b> by
                  {:else}
                    Greatest fail: <b>{selectedSubCategory.greatestfail.kills}</b> / <b>{selectedSubCategory.greatestfail.deaths}</b> in <b>{gameIdToShortName[selectedSubCategory.greatestfail.game]}</b> by
                  {/if}
                  <HeroAvatar
                    hero={selectedSubCategory.greatestfail.hero}/> on <b>{shared.timestamp2string(selectedSubCategory.greatestfail.timestamp)}</b>
                </div>
              {/if}
            </div>
            <CategoryStatistics
              category={selectedSubCategory}/>
          {/if}

        </div>
      {/if}
    {:else}
      <p>
        player is on queue to receive stats update. seems like it being tracked just a moment ago.
        your stats will be visible in around a minute.
      </p>
    {/if}
  </div>
{:catch error}
  <Error
    error={error}/>
{/await}
