<script context="module">
  import * as shared from '../../../shared.js';

  export function preload({ path, params }) {
    const { platform } = params;
    if(shared.definedPlatforms.includes(platform)) {
      let mainService = shared.createMainService(platform);
      return { path, platform, mainService };
    } else {
      return this.error(400, "Unknown platform")
    }
  };
</script>

<script>
  import Navigation from '../../../components/Navigation.svelte';
  import PlatformLabel from '../../../components/PlatformLabel.svelte';
  import Error from '../../../components/Error.svelte';
  import Loading from '../../../components/Loading.svelte';
  import OverallStatsPage from '../../../components/OverallStatsPage.svelte';

  import proto from '../../../protobuf_compiled/me/seroperson/gate/forhonor/main_service_grpc_web_pb.js';

  export let platform;
  export let request = new proto.PlayersRequest();
  export let mainService;
  export let path;
</script>

<style>
  .content {
  }
</style>

<svelte:head>
  <title>players</title>
</svelte:head>

<Navigation
  path={path}/>

{#await mainService.getPlayers(request).then(v => v.toObject())}
  <h2>
    overall stats
    <PlatformLabel
      platform={platform}/>
  </h2>
  <div class="content">
    <Loading
      text="requesting information"
      isVisible="true"/>
  </div>
{:then reply}
  <OverallStatsPage
    platform={platform}
    mainService={mainService}
    allSeasons={reply.allseasonsList}
    players={reply.playersList}
    overallGraph={reply.overallgraph}
    customLeaderboard={reply.customleaderboard}
    selectedSeason={reply.season}/>
{:catch error}
  <h2>
    overall stats
    <PlatformLabel
      platform={platform}/>
  </h2>
  <Error
    error={error}/>
{/await}
